//<МИКСИНЫ>===============================================================================================
@import "mixins";
//</МИКСИНЫ>===============================================================================================

//<ШРИФТЫ>===============================================================================================
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:regular,600,700&display=swap&subset=cyrillic-ext");
//<Подключаем шрифты>=======================================================================================
//&display=swap&subset=cyrillic-ext (В конец)
@import "fonts";
//</Подключаем шрифты>=======================================================================================

//<Иконочные шрифты>==========================================================================================
//@import "icons";
//</Иконочные шрифты>==========================================================================================

//<Шрифт по умолчанию>==========================================================================================
$fontFamily: "Source Sans Pro";
//</Шрифт по умолчанию>==========================================================================================

//</ШРИФТЫ>=======================================================================================================

//<ПЕРЕМЕННЫЕ>===========================================================================================================
$minWidth: 320px;
$maxWidth: 1920;
$maxWidthContainer: 1170;
$md1: $maxWidthContainer + 12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;
//</ПЕРЕМЕННЫЕ>===========================================================================================================

//<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================
@import "null";
body {
	color: #000;
	font-size: 14px;
	background-color: #f4f9fd;
	&._lock {
		overflow: hidden;
	}
}
//</ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================

//<ОБОЛОЧКА>===========================================================================================================
.wrapper {
	width: 100%;
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	&._loaded {
	}
}
//</ОБОЛОЧКА>===========================================================================================================

//<ОСНОВНАЯ СЕТКА>===========================================================================================================
._container {
	max-width: $maxWidthContainer + px;
	margin: 0 auto;
	padding: 0px 10px;
}
//</ОСНОВНАЯ СЕТКА>===========================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================
@import "forms";
@import "ui";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================
//@import "datepicker";
//@import "lightgallery";
//@import "pagging";
//@import "popup";
@import "header";
@import "footer";
@import "home";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================

//<ОСНОВНОЙ БЛОК>====================================================================================================
.page {
	flex: 1 1 auto;

	&__home {
		@include adaptiv-value("padding-bottom", 55, 40, 1);
	}

	&__special {
		@include adaptiv-value("padding-bottom", 63, 10, 1);
	}

	&__content {
		@include adaptiv-value("padding-top", 64, 40, 1);
		@include adaptiv-value("padding-bottom", 55, 40, 1);
	}

	&__testimonial {
		@include adaptiv-value("padding-top", 40, 20, 1);
		@include adaptiv-value("padding-bottom", 82, 20, 1);
	}
}
//===================================================================================================================================

.home {
	background-color: #fff;
	&__content {
		position: relative;
	}

	&__container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		position: absolute;
		width: 100%;
		height: 100%;
		left: 50%;
		top: 0;
		transform: translate(-50%, 0px);
		z-index: 2;
		@media (max-width: $md3+px) {
			margin: 10px 0px 0px 0px;
		}
	}

	&__slider {
		position: relative;
		margin: -35px 0px 0px 0px;
	}

	&__slide {
	}

	&__pagination {
		position: absolute;
		top: 40%;
		right: -25px;
		display: inline-flex;
		justify-content: center;
		align-items: center;
		transform: rotate(90deg);
		.swiper-pagination-bullet {
			cursor: pointer;
			width: 7px;
			height: 7px;
			border-radius: 3.5px;
			background-color: #fff;
			opacity: 0.5;
			margin: 0px 10px 0px 0px;
			transition: all 1s ease 0s;
		}
		.swiper-pagination-bullet-active {
			opacity: 1;
			height: 15px;
		}
	}

	&__bg {
		position: relative;
		@media screen and (orientation: landscape) {
			img {
				max-height: 160vh;
			}
		}
		img {
			min-width: 100%;
			max-height: 100vh;
		}
	}
}
.slide-home {
	display: flex;
	align-items: center;
	@media (max-width: $md3+px) {
		flex-wrap: wrap;
		justify-content: center;
	}
	&__column {
		&:first-child {
			flex: 0 1 506px;
			@include adaptiv-value("margin-top", -30, 0, 1);
			margin: 0px 10px 0px 0px;
		}
		&:last-child {
			flex: 0 1 50%;
		}
		@media (max-width: $md3+px) {
			flex: 1 1 100%;
			&:first-child {
				order: 2;
			}
			&:last-child {
				order: 1;
			}
		}
	}

	&__info {
		@media (max-width: $md3+px) {
			text-align: center;
		}
	}

	&__title {
		font-weight: bold;
		@include adaptiv-font(45, 30, 1);
		line-height: 60 / 45 * 100%;
		color: #ffffff;
		@include adaptiv-value("margin-bottom", 10, 5, 1);
	}

	&__subtitle {
		@include adaptiv-font(24, 18, 1);
		line-height: 48 / 24 * 100%;
		color: #ffffff;
		@include adaptiv-value("margin-bottom", 10, 5, 1);
	}

	&__btn {
		@include adaptiv-value("margin-top", 50, 0, 1);
	}

	&__image {
		min-width: 320px;
		img {
			max-width: 100%;
		}
		@media (max-width: $md3+px) {
			max-width: 300px;
			min-width: 200px;
			margin: 0 auto 10px auto;
		}
	}
}
//</ОСНОВНОЙ БЛОК>====================================================================================================

.special {
	background-color: #fff;
	position: relative;
	&::before {
		content: "";
		position: absolute;
		width: 512px;
		height: 425px;
		top: 5%;
		left: 0;
		transform: translate(-65%, 0px);
		background: url("../img/content/left.svg") 0 0 no-repeat;
		@media (max-width: 1330px) {
			display: none;
		}
	}
	&__container {
	}

	&__title {
		text-align: center;
		max-width: 600px;
		margin: 0 auto;
		@include adaptiv-value("margin-bottom", 96, 20, 1);
	}

	&__content {
		display: flex;
		justify-content: center;
		@media (max-width: $md2+px) {
			margin: 0px -15px;
		}
		@media (max-width: $md3+px) {
			flex-wrap: wrap;
		}
	}

	&__column {
		flex: 0 1 280px;
		margin: 0px 35px 30px 35px;
		@media (max-width: $md2+px) {
			margin: 0px 15px 30px 15px;
		}
		@media (max-width: 610px) {
			flex: 1 1 100%;
		}
	}
}
.column-special {
	&__body {
		display: flex;
		flex-direction: column;
		align-items: center;
		height: 100%;
		text-align: center;
	}

	&__image {
		margin: 0px 0px 23px 0px;
		@include adaptiv-value("margin-bottom", 23, 10, 1);

		img {
			max-width: 100%;
		}
	}

	&__title {
		font-weight: 700;
		font-size: 20px;
		line-height: 24 / 20 * 100%;
		color: #202020;
		margin: 0px 0px 10px 0px;
	}

	&__text {
		flex: 1 1 auto;
		@extend .text;
		opacity: 0.7;
		color: #272727;
		max-width: 260px;
		@media (max-width: 610px) {
			max-width: none;
		}
	}
}

//========================================================================================================================================================

.content {
	position: relative;
	&::before {
		content: "";
		position: absolute;
		width: 525px;
		height: 400px;
		top: 47%;
		right: 0;
		transform: translate(52%, 0px);
		background: url("../img/content/right.svg") center no-repeat;
		@media (max-width: 1600px) {
			transform: translate(62%, 0px);
		}
		@media (max-width: 1500px) {
			display: none;
		}
	}
	&__container {
	}

	&__row {
		display: flex;
		@include adaptiv-value("margin-bottom", 76, 40, 1);
		@media (max-width: $md3+px) {
			flex-wrap: wrap;
		}
		&_sec {
			@include adaptiv-value("margin-bottom", 23, 40, 1);
			.content__column {
				&:first-child {
					flex: 0 0 460px;
					order: 2;
					@media (min-width: $md3+px) {
						@include adaptiv-value("margin-left", 60, 10, 1);
					}
					@media (max-width: $md2+px) {
						flex: 0 1 460px;
					}
				}
				&:last-child {
					order: 1;
				}
				@media (max-width: $md3+px) {
					&:last-child,
					&:first-child {
						flex: 1 1 100%;
					}
				}
			}

			.content__info {
				&::before {
					background: url("../img/content/bg/02.svg") 0 0 no-repeat;
				}
				@media (min-width: $md3+px) {
					@include adaptiv-value("margin-top", 66, 0, 1);
					@include adaptiv-value("padding-left", 40, 0, 1);
					&::before {
						top: 8px;
						left: 20px;
					}
				}
				@media (max-width: $md2+px) {
					margin-top: 0;
				}
			}
			.content__text {
				opacity: 0.7;
			}
		}
		&_third {
			margin-bottom: 0;
			.content__column {
				&:first-child {
					flex: 0 0 460px;
					@include adaptiv-value("margin-right", 30, 10, 1);
					@media (max-width: $md2+px) {
						flex: 0 1 460px;
					}
				}
				@media (max-width: $md3+px) {
					&:last-child,
					&:first-child {
						flex: 1 1 100%;
					}
				}
			}

			.content__info {
				&::before {
					background: url("../img/content/bg/03.svg") 0 0 no-repeat;
				}
				@media (min-width: $md3+px) {
					@include adaptiv-value("margin-top", 121, 10, 1);
					@include adaptiv-value("padding-left", 57, 0, 1);
					@include adaptiv-value("padding-top", 37, 0, 1);
					&::before {
						top: 15px;
						left: 10px;
					}
				}
				@media (max-width: $md2+px) {
					margin-top: 0;
				}
			}
			.content__text {
				opacity: 0.7;
			}
		}
	}

	&__column {
		&:first-child {
			flex: 0 0 473px;
			@media (max-width: $md2+px) {
				flex: 0 1 473px;
			}
		}
		&:last-child {
			flex: 1 0 400px;
		}
		@media (max-width: $md3+px) {
			&:last-child,
			&:first-child {
				flex: 1 1 100%;
			}
			&:first-child {
				order: 2;
			}
		}
	}

	&__info {
		@include adaptiv-value("margin-top", 60, 10, 1);
		position: relative;
		padding-right: 15px;
		@include adaptiv-value("padding-left", 42, 10, 1);
		@include adaptiv-value("padding-top", 60, 10, 1);
		@media (max-width: $md2+px) {
			margin-top: 0;
		}
		@media (max-width: $md3+px) {
			padding: 0px 0px 0px 0px;
			margin: 0px 0px 0px 0px;
			text-align: center;
		}
		&::before {
			content: "";
			position: absolute;
			width: 100%;
			height: 200px;
			top: 0;
			left: 0;
			background: url("../img/content/bg/01.svg") 0 0 no-repeat;
			@media (max-width: $md3+px) {
				transform: scale(0.5) translate(-50%, -50%);
			}
		}
	}

	&__title {
		margin: 0px 0px 30px 0px;
		@include adaptiv-value("margin-bottom", 30, 15, 1);
	}

	&__text {
		@extend .text;
		color: #272727;
		p {
			@include adaptiv-value("padding-bottom", 20, 10, 1);
			&:last-child {
				padding: 0;
			}
		}
	}

	&__image {
		@media (max-width: $md3+px) {
			margin: 0px auto 20px auto;
			max-width: 400px;
		}
		img {
			max-width: 100%;
		}
	}
}

//========================================================================================================================================================

.testimonial {
	position: relative;
	&__content {
	}

	&__container {
		position: relative;
		z-index: 2;
		@media (max-width: 650px) {
			overflow: visible;
		}
	}

	&__title {
		color: #fff;
		text-align: center;
		margin: 0 auto;
		max-width: 385px;
		@include adaptiv-value("margin-bottom", 50, 20, 1);
	}

	&__row {
		display: flex;
		justify-content: center;
		@media (max-width: $md2+px) {
			margin: 0px -10px;
			overflow: auto;
			justify-content: flex-start;
		}
	}

	&__column {
		flex: 0 0 300px;
		margin: 0px 10px;
		@media (max-width: $md2+px) {
			margin: 0px 10px 30px 10px;
		}
	}

	&__bg {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
	}
}
.column-testimonial {
	&__body {
		background-color: rgba(255, 255, 255, 0.2);
		border-radius: 5px;
		padding: 35px 20px;
		display: flex;
		flex-direction: column;
		height: 100%;
		@media (max-width: $md2+px) {
			padding: 20px 10px;
		}
	}

	&__top {
		display: flex;
		align-items: center;
		@include adaptiv-value("margin-bottom", 25, 15, 0);
	}

	&__avatar {
		flex: 0 0 50px;
		border-radius: 50%;
		height: 50px;
		overflow: hidden;
		&_center {
			img {
				object-position: 25% 0;
			}
		}
		img {
			max-width: 100%;
		}
	}

	&__info {
		@include adaptiv-value("margin-left", 20, 10, 0);
		@extend .text;
		color: #ffffff;
	}

	&__name {
		font-weight: 600;
	}

	&__company {
		font-weight: 400;
		opacity: 0.5;
	}

	&__text {
		flex: 1 1 auto;
		@extend .text;
		text-align: center;
		color: #ffffff;
		span {
			font-weight: 700;
			font-size: 40px;
			display: block;
		}
	}
}
