.home {
    background-color: $white;
    position: relative;
    z-index: 2;
    &__content {
        position: relative;
        @include adaptiveValue("padding-top", 200, 120);
        @include adaptiveValue("padding-bottom", 110, 40);
    }

    &__container {
        position: relative;
        z-index: 2;
    }

    &__slider {
        position: relative;
    }

    &__slide {
    }

    &__pagination {
        position: absolute;
        top: rem(100);
        right: rem(15);
        gap: rem(10);
        display: flex;
        flex-direction: column;
        align-items: center;
        @media (min-width: $mobile) {
            width: rem(15);
        }
        @media (max-width: $mobileSmall) {
            top: rem(-40);
            height: rem(15);
            right: 50%;
            width: auto;
            flex-direction: row;
            transform: translate(50%, 0px);
        }
        .swiper-pagination-bullet {
            cursor: pointer;
            flex: 0 0 rem(7);
            height: rem(7);
            width: rem(7);
            border-radius: rem(3.5);
            background-color: $white;
            opacity: 0.5;
            transition: width 0.3s linear 0s, height 0.3s linear 0s, opacity 0.3s linear 0s;
        }
        .swiper-pagination-bullet-active {
            @media (min-width: $mobile) {
                width: rem(15);
            }
            @media (max-width: $mobile) {
                height: rem(15);
            }
            opacity: 1;
        }
    }

    &__bg {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        img {
            min-width: 100%;
        }
        @media screen and (orientation: landscape) {
            img {
                max-height: rem(800);
            }
        }
        @media (max-width: $pc) {
            img {
                height: 110%;
            }
        }
        @media (max-width: $mobileSmall) {
            img {
                max-height: 160vh;
            }
        }
    }
}
.slide-home {
    display: flex;
    align-items: center;
    @include adaptiveValue("gap", 60, 30, 1170, 767.98, 1);
    @media (max-width: $pc) {
        padding-right: rem(25);
    }
    @media (max-width: $mobile) {
        flex-direction: column-reverse;
        justify-content: flex-end;
        padding-right: 0;
    }
    &__info {
        @media (min-width: $mobile) {
            flex: 0 1 rem(506);
        }
        @media (max-width: $mobile) {
            max-width: rem(520);
            text-align: center;
        }
    }

    &__title {
        font-weight: 700;
        @include adaptiveValue("font-size", 45, 30, 1170, 479.98, 1);
        line-height: math.div(60, 45);
        color: $white;
        &:not(:last-child) {
            @include adaptiveValue("margin-bottom", 10, 5, 1170, 767.98, 1);
        }
    }

    &__subtitle {
        @include adaptiveValue("font-size", 24, 18, 1170, 479.98, 1);
        line-height: math.div(48, 24);
        color: $white;
        &:not(:last-child) {
            @include adaptiveValue("margin-bottom", 10, 5, 1170, 767.98, 1);
        }
    }

    &__btn {
        @include adaptiveValue("margin-top", 50, 20, 1170, 767.98, 1);
    }

    &__image {
        @media (min-width: $mobile) {
            flex: 0 1 rem(516);
        }
        @media (max-width: $mobile) {
            max-width: rem(320);
        }
        img {
            max-width: 100%;
        }
    }
}
//</ОСНОВНОЙ БЛОК>====================================================================================================

.special {
    background-color: $white;
    position: relative;
    &::before {
        content: "";
        position: absolute;
        width: rem(512);
        height: rem(425);
        @include adaptiveValue("top", 213, 150, 1920, 1330, 1);
        left: 0;
        transform: translate(-65%, 0px);
        background: url("@img/content/left.svg") 0 0 no-repeat;
        @media (max-width: em(1330)) {
            display: none;
        }
    }
    &__container {
    }

    &__title {
        text-align: center;
        max-width: rem(600);
        margin: 0 auto;
        @include adaptiveValue("margin-bottom", 96, 20, 1170, 479.98, 1);
    }

    &__content {
        display: flex;
        justify-content: center;
        @include adaptiveValue("gap", 70, 30, 1170, 767.98, 1);
        @media (max-width: $mobile) {
            flex-wrap: wrap;
        }
    }

    &__column {
        flex: 0 1 rem(280);
        @media (max-width: $mobileSmall) {
            flex: 1 1 100%;
        }
    }
}
.column-special {
    &__body {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    &__image {
        @include adaptiveValue("margin-bottom", 23, 10, 1170, 767.98, 1);
        @media (min-width: $mobile) {
            flex: 0 0 rem(155);
        }
        img {
            max-width: 100%;
        }
    }

    &__title {
        font-weight: 700;
        font-size: rem(20);
        line-height: math.div(24, 20);
        color: $dark_01;
        margin-bottom: rem(10);
    }

    &__text {
        flex: 1 1 auto;
        @extend .text;
        opacity: 0.7;
        color: $dark_02;
    }
}

//========================================================================================================================================================

.content {
    position: relative;
    &::before {
        content: "";
        position: absolute;
        width: rem(525);
        height: rem(400);
        top: 47%;
        right: 0;
        transform: translate(52%, 0px);
        background: url("@img/content/right.svg") center no-repeat;
        @media (max-width: em(1600)) {
            transform: translate(62%, 0px);
        }
        @media (max-width: em(1500)) {
            display: none;
        }
    }

    &__container {
    }

    &__row {
        display: flex;
        gap: rem(30);
        @media (max-width: $mobile) {
            flex-wrap: wrap;
            flex-direction: column-reverse;
            gap: rem(20);
        }
        &_1 {
            @include adaptiveValue("margin-bottom", 76, 40, 1170, 767.98, 1);
        }
        &_2 {
            @media (min-width: $tablet) {
                gap: rem(60);
                flex-direction: row-reverse;
            }
            @include adaptiveValue("margin-bottom", 23, 40, 1170, 767.98, 1);
        }
        &_3 {
        }
    }

    &__info {
        position: relative;
        flex: 0 1 rem(460);
        @media (max-width: $mobile) {
            flex: 1 1 100%;
        }
        &::before {
            content: "";
            position: absolute;
            width: 100%;
            height: rem(200);
            pointer-events: none;
            @media (max-width: $mobile) {
                display: none;
            }
        }
        @media (max-width: $mobile) {
            text-align: center;
        }
        .content__row_1 & {
            @media (min-width: $mobile) {
                @include adaptiveValue("padding-top", 120, 40, 1170, 767.98, 1);
                @include adaptiveValue("padding-left", 55, 20, 1170, 767.98, 1);
            }
            &::before {
                @include adaptiveValue("top", 60, 45, 1170, 767.98, 1);
                left: rem(25);
                background: url("@img/content/bg/01.svg") 0 0 no-repeat;
            }
        }
        .content__row_2 & {
            @media (min-width: $mobile) {
                @include adaptiveValue("padding-top", 90, 40, 1170, 767.98, 1);
                @include adaptiveValue("padding-left", 40, 20, 1170, 767.98, 1);
            }
            &::before {
                background: url("@img/content/bg/02.svg") 0 0 no-repeat;
                @include adaptiveValue("top", 95, 45, 1170, 767.98, 1);
                left: rem(20);
            }
        }
        .content__row_3 & {
            @media (min-width: $mobile) {
                @include adaptiveValue("padding-top", 150, 40, 1170, 767.98, 1);
                @include adaptiveValue("padding-left", 55, 20, 1170, 767.98, 1);
            }
            &::before {
                background: url("@img/content/bg/03.svg") 0 0 no-repeat;
                @include adaptiveValue("top", 165, 45, 1170, 767.98, 1);
                left: rem(10);
            }
        }
    }

    &__title {
        @include adaptiveValue("margin-bottom", 30, 15, 1170, 767.98, 1);
    }

    &__text {
        @extend .text;
        color: $dark_02;
        opacity: 0.7;
        &:not(:last-child) {
            @include adaptiveValue("padding-bottom", 20, 10, 1170, 767.98, 1);
        }
    }

    &__image {
        flex: 1 1 auto;
        text-align: right;
        @media (max-width: $mobile) {
            margin: 0px auto rem(20) auto;
            max-width: rem(400);
        }
        img {
            max-width: 100%;
        }
    }
}

//========================================================================================================================================================

.testimonial {
    position: relative;
    &__content {
    }

    &__container {
        position: relative;
        z-index: 2;
        @media (max-width: 650px) {
            overflow: visible;
        }
    }

    &__title {
        color: $white;
        text-align: center;
        margin: 0 auto;
        max-width: 385px;
        @include adaptiveValue("margin-bottom", 50, 20, 1);
    }

    &__row {
        display: flex;
        justify-content: center;
        @media (max-width: $tablet) {
            margin: 0px -10px;
            overflow: auto;
            justify-content: flex-start;
        }
    }

    &__column {
        flex: 0 0 300px;
        margin: 0px 10px;
        @media (max-width: $tablet) {
            margin: 0px 10px 30px 10px;
        }
    }

    &__bg {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    }
}
.column-testimonial {
    &__body {
        background-color: rgba(255, 255, 255, 0.2);
        border-radius: 5px;
        padding: 35px 20px;
        display: flex;
        flex-direction: column;
        height: 100%;
        @media (max-width: $tablet) {
            padding: 20px 10px;
        }
    }

    &__top {
        display: flex;
        align-items: center;
        @include adaptiveValue("margin-bottom", 25, 15, 0);
    }

    &__avatar {
        flex: 0 0 50px;
        border-radius: 50%;
        height: 50px;
        overflow: hidden;
        &_center {
            img {
                object-position: 25% 0;
            }
        }
        img {
            max-width: 100%;
        }
    }

    &__info {
        @include adaptiveValue("margin-left", 20, 10, 0);
        @extend .text;
        color: $white;
    }

    &__name {
        font-weight: 600;
    }

    &__company {
        font-weight: 400;
        opacity: 0.5;
    }

    &__text {
        flex: 1 1 auto;
        @extend .text;
        text-align: center;
        color: $white;
        span {
            font-weight: 700;
            font-size: 40px;
            display: block;
        }
    }
}
